body {
    font-family: "Andale Mono", "monospace";
    padding: 20px;
    margin: 20px;
}
h1 {
    background-color: black;
    font-size: 90px;
    text-align: center;
    color: white;
}

div {
    color: black;
}

h2 {
    font-size: 40px;
    color: black;

}